/* me adding some classes for style */


// Drop down element date

.drop-date {
  font-size: 2em;
  margin-bottom: 0.5em;
  cursor: pointer;
  color: #ce3d15;
}

// 2 column layout

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.inline-link {
	font-weight: bold;      /* Bold the text */
  }
  
.inline-link:hover {
	text-decoration: underline;  /* Add underline on hover */
	cursor: pointer;
  }


.description-box {
	display: flex;
	flex-direction: row;
	max-width: 60rem;
	margin-top: 3rem;
	gap: 2rem;
}

@media (max-width: 800px) {
	.description-box {
		flex-direction: column;
	}
}

.description-box div {
	flex: 1 1 0
}


// hr styles


hr.fancy {
    overflow: visible; /* For IE */
    padding: 0;
	margin-bottom: 70px;
	margin-top: 50px;
    border: none;
    border-top: medium double #ce3d15;
    color:#ce3d15;
    text-align: center;
}
hr.fancy:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #fff7f5;
}

// back to top arrow (not super happy with it still)

.back-to-top {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  font-size: 2rem;
  color: #333;
  background: #fff7f5;
  border: 2px solid #fff7f5;;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  // box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
  z-index: 1000;
}

.back-to-top:hover {
  //color: white;
  border-color: #ce3d15;
}

